* {
    margin: 0;
    padding: 0;
  }
  
.header{
    margin: 0;
    background-color: #009688;
    text-align: center;
    padding: 15px;
    height: 20px;
} 
.header .h1{
    text-decoration: none;
    left: 0;
}
.navbar {
    width: 85%;
    margin: auto;
    padding:  0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    color: rgb(17, 12, 12);
  }
  .navbar ul li{
    list-style: none;
     display: inline-block;
     margin: 0 10px;
     position: relative;
     right: 0;
  }
  .navbar ul li a{
    text-decoration: none;
    color: rgb(8, 7, 7);
  }
  .sidebar{
    position: absolute;
    height: 20px;
    left: 0;
    height: 100%;
    width: 140px;
    background: #11101d;
    padding: 6px 14px;
    transition: all 0.5s ease;
}
.sidebar ul{
    margin-top: 20px;
}
.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li input{
    position: absolute;
    height: 100%;
    width: 90px;
    left: 0;
    right: 0;
    border-radius: 120px;
    outline: none;
    border:none;
    background: #1d1b32;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
}
.sidebar ul li .bx-search{
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 22px;
    transition: all 0.5s ease;
}
.sidebar ul li .bx-search:hover{
    background: #fff;
    color: #1d1b32;
}
.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius:12px ;
    white-space: nowrap;
}
.sidebar ul li a:hover{
    color: #11101d;
    background: #fff;
}
.sidebar ul li i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}
.home_content{
    position: absolute;
    height:100% ;
    width: calc(100%-78px);
    left: 160px;
}
.home_content .text{
    font-size: 25px;
    font-weight: 500;
    color: #1d1b32;
    margin: 12px;
    left: 50%;
}
.content input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .content input[type=submit] {
    width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .content {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    background-color: #009688;
    width: 40%;
    margin-left: 30%;
    margin-top: 8%;
  }
